#one{
    background-color: grey;
    border-radius: 10px;
}

#two{
    background-color: lightslategray;
    border-radius: 10px;
}

#three{
    position:static;
    background: yellow;
}

#four{
    position:relative;
    top: 30px;
    left: 30px;
}