body {
  margin: 0;
  padding: 0;
  background-color: #1AA7EC;
  display: grid;
}

#landing {
  background-color: white;
  height: 50vh;
  width: 20vw;
  border-radius: 50px;
}

#landing h2 {
  text-align: center;
  border-bottom: black solid 2pt;
}

#landing-page {
  list-style: none;
  display: flex;
  gap: 10%;
  justify-content: center;
  flex-wrap: wrap;
}

#landing-page a {
  border-left: black solid 1px;
  border-right: black solid 1px;
  height: fit-content;
  width: 5vw;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

#landing-page a:hover {
  background-color: lightblue;
}
