body {
  margin: 0;
  padding: 0;
  background-color: #1aa7ec;
  align-content: flex-end;
}

#content {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 0px;
}

#landing {
  background-color: white;
  height: 50vh;
  width: 20vw;
  border-radius: 50px;
  text-align: center;
}

#landing h2 {
  border-bottom: black solid 2pt;
}

#landing-page {
  list-style: none;
  display: flex;
  gap: 15%;
  flex-wrap: wrap;
}

#landing-page a {
  border-radius: 10pt;
  height: 10vh;
  width: 5vw;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #1aa7ec;
  color: white;
}

#landing-page a:hover {
  background-color: lightblue;
}
