:root {
  --back: rgb(255, 255, 255);
  --high: rgb(247, 253, 255);
  --hov: rgb(190, 207, 212);
}

body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: solid black 1pt;
}

nav {
  display: flex;
  list-style-type: none;
  background-color: var(--back);
  font-size: 25px;
  width: 100%;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: space-between;
}

#movement {
  display: flex;
  border-radius: 5px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 2%;
}

#movement a {
  text-decoration: none;
  padding: 4px 5px 4px 5px;
  border-radius: 5px;
}

#name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-left: 2%;
  padding-right: 2%;
  background-color: black;
  color: white;
}

nav a:hover {
  background-color: var(--hov);
}

nav a:link,
nav a:visited {
  color: black;
}
