:root {
  --back: rgb(221, 246, 255);
  --high: rgb(247, 253, 255);
  --hov: rgb(190, 207, 212);
}

header {
  border-bottom: solid black 2pt;
}

nav {
  display: flex;
  list-style-type: none;
  background-color: var(--back);
  font-size: 25px;
  gap: 20px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

a {
  display: flex;
  background-color: var(--high);
  border-radius: 5px;
  height: 50px;
  width: 10%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a:hover {
  background-color: var(--hov);
}
