:root {
  --back: rgb(255, 255, 255);
  --high: rgb(247, 253, 255);
  --hov: rgb(190, 207, 212);
}

body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: solid black 1pt;
}

nav {
  display: flex;
  list-style-type: none;
  background-color: var(--back);
  font-size: 25px;
  gap: 30px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
}

nav a {
  display: flex;
  border-radius: 5px;
  height: 50px;
  width: 7%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--hov);
}

nav a:link,
nav a:visited {
  color: black;
}
