#one {
  background-color: grey;
  border-radius: 10px;
}

#two {
  background-color: lightslategray;
  border-radius: 10px;
}

#three {
  position: static;
  background-color: yellow;
}

#four {
  background-color: red;
  position: relative;
  left: 30px;
}

#five {
  background-color: lightblue;
  position: absolute;
  top: 550px;
  right: 50px;
}

#six {
  background-color: lightcoral;
  position: fixed;
  top: 600px;
}

#seven {
  background-color: lightsalmon;
  position: sticky;
}

#flex-row {
  background-color: cadetblue;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 20%;
  margin-bottom: 2%;
}

#flex-row p {
  background-color: aliceblue;
  width: 18%;
  border-radius: 5px;
}

#flex-column {
  justify-content: center;
  max-width: 20%;
  background-color: lightseagreen;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
