#one {
  background-color: grey;
  border-radius: 10px;
}

#two {
  background-color: lightslategray;
  border-radius: 10px;
}

#three {
  position: static;
  background-color: yellow;
}

#four {
  background-color: red;
  position: relative;
  left: 30px;
}

#five {
  background-color: lightblue;
  position: absolute;
  top: 550px;
  right: 50px;
}

#six {
  background-color: lightcoral;
  position: fixed;
  top: 600px;
}

#seven {
  background-color: lightsalmon;
  position: sticky;
}

#flex-row {
  background-color: cadetblue;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 25%;
  margin-bottom: 2%;
  align-items: flex-end;
}

#flex-row p {
  background-color: aliceblue;
  width: fit-content;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  flex-grow: 4;
}

#flex-column {
  justify-content: center;
  max-width: 20%;
  background-color: lightseagreen;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#flex-grow-test {
  display: flex;
  background-color: aquamarine;
  border-radius: 5px;
  width: fit-content;
  gap: 20px;
}

#flex-grow-test p {
  display: flex;
  flex-grow: 2;
  margin-right: 5px;
  background-color: aqua;
  border-radius: 5px;
  border-style: dotted;
  width: fit-content;
  color: midnightblue;
}

#flex-shrink-test {
  display: flex;
  background-color: rgb(223, 242, 255);
  border-radius: 5px;
  width: 50%;
}

#flex-shrink-test p {
  display: flex;
  background-color: lightblue;
  flex-basis: 25%;
  margin-left: 5px;
  border-radius: 5px;
  align-self: center;
}
